# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.gradle-user-home

# other
eclipse
run
.worktrees

# neoforge
runs

# Files from Forge MDK
forge*changelog.txt
